wordsearch-input,
wordsearch-dropdown {
    @shrank: 0.75em;
    @adjustment: 3px;

    position: relative;

    input {
        display: block;
    }

    label {
        font-size: @shrank;
        opacity: 0.9;
        position: relative;
        top: -@adjustment;
    }

    .error {
        font-size: @shrank;
        color: #f44336;
    }
}