<wordsearch-input label="Title" name="title" (change)="setTitle($event)" [value]="generationOptions.title"></wordsearch-input>

<fieldset>
    <legend>Allowed Word Directions</legend>
    <wordsearch-checkbox [formGroup]="directionFormGroup" label="Horizontal" name="horizontal" (change)="setAllowHorizontal($event)" [value]="generationOptions.allowHorizontal"></wordsearch-checkbox>
    <wordsearch-checkbox [formGroup]="directionFormGroup" label="Vertical" name="vertical" (change)="setAllowVertical($event)" [value]="generationOptions.allowVertical"></wordsearch-checkbox>
    <wordsearch-checkbox [formGroup]="directionFormGroup" label="Diagonal" name="diagonal" (change)="setAllowDiagonal($event)" [value]="generationOptions.allowDiagonal"></wordsearch-checkbox>
</fieldset>

<wordsearch-input label="Columns" name="columns" (change)="setColumns($event)" type="number" min="5" max="30" [value]="generationOptions.width" required="true"></wordsearch-input>
<wordsearch-input label="Rows" name="rows" (change)="setRows($event)" type="number" min="5" max="30" [value]="generationOptions.height" required="true"></wordsearch-input>

<wordsearch-checkbox label="Show Word List" name="wordList" (change)="setShowWordList($event)" [value]="generationOptions.showWordList"></wordsearch-checkbox>
<wordsearch-checkbox *ngIf="generationOptions.showWordList" label="Alphabetize Word List" name="alphabetize" (change)="setAlphabetizeWordList($event)" [value]="generationOptions.alphabetizeWordList"></wordsearch-checkbox>
<wordsearch-checkbox label="Filter Accidental Profanity" name="filterProfanity" (change)="setFilterProfanity($event)" [value]="generationOptions.filterAccidentalProfanity"></wordsearch-checkbox>
<wordsearch-checkbox label="Allow Backwards Words" name="allowBackwards" (change)="setAllowBackwards($event)" [value]="generationOptions.allowBackwards"></wordsearch-checkbox>
<wordsearch-checkbox label="Allow Overlaps" name="allowOverlaps" (change)="setAllowOverlaps($event)" [value]="generationOptions.allowOverlaps"></wordsearch-checkbox>

<wordsearch-dropdown *ngIf="selectedOutputOption" label="Output Method" [options]="outputOptions" [selected]="selectedOutputOption" (change)="setOutputOption($event)"></wordsearch-dropdown>

<wordsearch-input-list [formGroup]="wordFormGroup" [validators]="wordValidators"></wordsearch-input-list>

<div class="generate">
    <wordsearch-button color="accent" text="Generate" (click)="generate()" [disabled]="gameFormGroup.pristine || gameFormGroup.invalid"></wordsearch-button>
</div>