@import (reference) '../Styles/Variables.less';

.wordSearchGeneratorFormContainer {
    flex: 1 0 @formWidth;

    @media (max-width: @mediumScreen) {
        flex: 1 0 100%;
    }

    .wordSearchGeneratorForm {
        width: 100%;

        form button {
            display: block;
            margin: 0 auto;
        }
    }
}
